# Configuration file for telegram-export. Default values are commented.
# Use ; or # for comment lines

[TelegramAPI]

# You must edit these values to use the exporter
# You can either get your own from my.telegram.org
# Or use a published one:
# https://github.com/telegramdesktop/tdesktop/blob/dev/Telegram/SourceFiles/config.h#L247
ApiId = 12345e
ApiHash = 0123456789abcdef0123456789abcdef

# This can be anything
; SessionName = exporter
SessionName = exporter

# Your phone number. You must supply this.
PhoneNumber = xxxxxxxxxx

[Dumper]

# Database filename (without '.db')
; DBFileName = export
DBFileName = export

# See explanation for 'Invalidation time'. In minutes.
; ForceNoChangeDumpAfter = 7200
ForceNoChangeDumpAfter = 7200

# Either Whitelist or Blacklist should be present, not both.
# * Whitelist will backup only the usernames, phones or IDs listed.
# * Blacklist will backup everything but listed.
# Phones start with '+' (no quotes), and items separated by comma.
Whitelist = example, username

# Chunk size in which to retrieve messages. 100 (default, max) if not present.
; ChunkSize = 100

# Maximum chunks to retrieve from a chat (if too many). 0 (default) means all.
; MaxChunks = 0
